---
layout: base.njk
title: Being ethical and responsible
---
<div class="container">
<div class="card-body">

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Ethical and Responsible AI</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h5 id="sustainability">Sustainability</h5>
      <p>We believe that Artificial Intelligence (AI) and Machine Learning (ML) have a huge role to play in helping
        people
        manage
        systems and resources more efficiently. If we do our job well, we can use fewer resources to achieve more!
        Intelligent management of infrastructure, equipment, assets and processes can help to reduce waste and
        prioritise improvements.</p>
      <h5 id="responsibility">Ethical and Responsible AI</h5>
      <p>
        We believe that AI and ML create many opportunities <b>today</b> to cause harm to people via discrimination,
        bias, arbitrary penalization and many other mechanisms. These harms may be deliberate, negligent or merely
        accidental. To avoid them, we should actively embrace the principles of <a
          href="https://www.industry.gov.au/publications/australias-artificial-intelligence-ethics-framework/australias-ai-ethics-principles"
          target="_blank">Ethical and
          Responsible AI</a>, which include:
        <ul>
          <li>Fairness</li>
          <li>Transparency (people should be able to learn how systems work)</li>
          <li>Explainability (it should be possible to understand why a system has produced an output)</li>
          <li>Contestability (you should be able to challenge an output)</li>
          <li>Privacy</li>
          <li>Reliability (if you come to rely on key systems, they should not fail or be revoked)</li>
          <li>Accountability (the owners and operators of systems should be responsible for them)</li>
        </ul>
        The study of causality should contribute positively to many of these principles. We look forward to being part
        of the solution, not the problem.
      </p>
      <h5 id="equality">Equality and diversity</h5>
      <p>We are an equal-opportunity employer, and we're happy to enjoy the company of all. We are committed to
        providing an environment of mutual respect for each other.</p>

    </div>
  </div>

</div>

</div>
</div>
