---
layout: base.njk
title: Fees and charges
---
<div class="container">
<div class="card-body">

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Fees and Charges</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h5 id="reg">No registration needed</h5>
      <p>
        There's no sign-up and no account &mdash; just head to the <a href="/data/">Data</a> page and get
        started. Your data stays on your own device; see the <a href="/security/">Privacy, security &amp; data
          sovereignty</a> page for details.
      </p>
      <h5 id="fees">Fees and Charges</h5>
      <p><b>THERE ARE CURRENTLY NO FEES OR CHARGES.</b></p>
      <p>Causal Wizard is in Beta testing while we figure out how best to deliver the service. We want to allow you to
        start using CausalWizard for free, with full functionality, so we can enhance it until it does what
        you need.
      </p>
      <p>
        At some point in the future, payment will be needed to cover our hosting, compute and product
        development costs. However, while Causal Wizard is in Beta testing, we haven't figured out what those charges
        will be, so for now
        it's free to use.
      </p>

    </div>
  </div>

</div>

</div>
</div>
