---
layout: base.njk
title: Legal
---
<div class="container">
<div class="card-body">

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Legal</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h5 id="tos">Terms of Service</h5>
      <p>Causal Wizard is provided by AI/ML Services, Australia.
      </p>
      <p>
        Your use of this service constitutes acceptance of the following:
        <ol>
          <li>
            Causal Wizard makes no warranties or guarantees on which you may rely, and that we assume no liability or
            obligation to you.
          </li>
          <li>
            Causal wizard will not be liable to users for direct, indirect, incidental or consequential damages.
          </li>
        </ol>
      </p>

      <p>
        You'll probably also want to read our <a href="/security/">Privacy, security &amp; data
          sovereignty</a> information page.
      </p>
    </div>
  </div>

</div>

</div>
</div>
