---
layout: base.njk
title: Recommended reading
---
<div class="container">
<div class="card-body">

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Recommended reading</h2>
      <p><small>Last updated 20th Jan. 2024</small></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <ul>
        <li><a href="#videos">Videos</a></li>
        <li><a href="#books">Books</a></li>
        <li><a href="#forums">Forums</a></li>
        <li><a href="#courses">Courses</a></li>
        <li><a href="#papers">Academic papers</a></li>
        <li><a href="#conferences">Conferences and Courses</a></li>
        <li><a href="#websites">Websites</a></li>
        <li><a href="#software">Software tools</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h5 id="learn-more">Where can I learn more about Causality and Causal Inference?</h5>
      <p>
        You can find out about many of the core concepts and ideas in our <a target="_blank"
          href="/articles/">Help articles</a>. They
        also explain some maths
        terminology we can’t avoid using, and have lots of links back to relevant content elsewhere on the Internet.
        We try to make Causal Wizard easy to use, but we don’t want to hide important words you might need later, if you
        want to discuss your results with a statistician or data scientist.
      </p>
      <p>
        You don’t <i>need</i> to read anything to start using Causal Wizard, but if you want to learn more about how it
        works
        and how to interpret your results, we recommend the following websites, videos and articles:
      </p>

      <h5 id="videos">Videos</h5>
      <p>
        For those wanting to be convinced about the importance of explicitly grappling with Causality:
        <ul>
          <li><a href="https://www.youtube.com/watch?v=KNPYUVmY3NM"
              target="_blank">https://www.youtube.com/watch?v=KNPYUVmY3NM</a> <b>Science Before Statistics: Causal
              Inference</b>, by Richard McElreath.
          </li>
          <li><a href="https://www.youtube.com/watch?v=Ts0hnNBRIWg"
              target="_blank">https://www.youtube.com/watch?v=Ts0hnNBRIWg</a> <b>Introduction To Causal Inference And
              Directed Acyclic Graphs
            </b>, by Peter WG Tennant in a workshop for the UK Reproducibility Network (UKRN).
          </li>
          <li><a href="https://www.youtube.com/watch?v=DXBPtpBhGqo"
              target="_blank">https://www.youtube.com/watch?v=DXBPtpBhGqo</a> <b> A Brief Introduction to Causal
              Inference (Course Preview)</b>, by Brady Neal.
          </li>
        </ul>
      </p>


      <h5 id="books">Books</h5>
      <p>
        If you're not sure which book to read, check out this handy <a
          href="https://www.bradyneal.com/which-causal-inference-book" target="_blank">flowchart</a> which helps you
        decide!
        <ul>
          <li><a href="https://theeffectbook.net/" target="_blank">https://theeffectbook.net/</a> <b>The Effect: An
              Introduction to Research Design and Causality</b>, by Nick Huntington-Klein.
          </li>
          <li><a href="https://matheusfacure.github.io/python-causality-handbook"
              target="_blank">https://matheusfacure.github.io/python-causality-handbook</a> <b>Causal
              Inference for The Brave and True</b>, by Matheus Facure Alves
            Alves.
          </li>



          <li><a href="https://en.wikipedia.org/wiki/The_Book_of_Why"
              target="_blank">https://en.wikipedia.org/wiki/The_Book_of_Why</a> <b>The book of Why</b> - history of the
            Do-Calculus and Pearlian approach to Causality. Authors Judea Pearl and Dana Mackenzie. <a
              href="https://books.google.com.au/books/about/The_Book_of_Why.html?id=EmY8DwAAQBAJ" target="_blank">E-book
              can be purchased online</a>.
          </li>
          <li><a href="https://xcelab.net/rm/statistical-rethinking/"
              target="_blank">https://xcelab.net/rm/statistical-rethinking/</a> <b>Statistical Rethinking
            </b>, by Richard McElreath. Note this is a course (wait list form available <a
              href="https://github.com/rmcelreath/stat_rethinking_2024?tab=readme-ov-file#format"
              target="_blank">here</a>) <a
              href="https://www.youtube.com/playlist?list=PLDcUM9US4XdPz-KxHM4XHt7uUVGWWVSus" target="_blank">online
              lectures</a>, a <a href="https://github.com/rmcelreath/stat_rethinking_2023" target="_blank">Git
              repository</a> AND a book!
          </li>

          <li><a href="https://www.hsph.harvard.edu/miguel-hernan/causal-inference-book/"
              target="_blank">https://www.hsph.harvard.edu/miguel-hernan/causal-inference-book/</a> <b>Causal
              Inference: What If (the book)</b>, by Miguel Hernan.</li>
          <li><a href="https://alexdeng.github.io/causal/index.html"
              target="_blank">https://alexdeng.github.io/causal/index.html</a> <b>Causal Inference and its applications
              in Online Industry</b>. Written by Alex Deng</li>
          <li><a href="https://mixtape.scunning.com/" target="_blank">https://mixtape.scunning.com/</a> <b>Causal
              Inference
              The Mixtape</b>. Deep dive
            slides and articles about various topics in Causal Inference, by Scott Cunningham.</li>
          <li><a href="https://www.amazon.com/Causal-Inference-Discovery-Python-learning/dp/1804612987"
              target="_blank">https://www.amazon.com/Causal-Inference-Discovery-Python-learning/dp/1804612987</a>
            <b>Causal
              Inference and Discovery in Python</b>: Unlock the secrets of modern causal machine learning with DoWhy,
            EconML,
            PyTorch and more. Written by Aleksander Molak.</li>
        </ul>
      </p>

      <h5 id="forums">Forums</h5>
      <p>
        <ul>
          <li><a href="https://www.reddit.com/r/CausalInference/"
              target="_blank">https://www.reddit.com/r/CausalInference/</a>
            <b>CausalInference subreddit</b> (Reddit community) if you want to read or ask about Causal Inference</li>
          <li><a href="https://www.matej-zecevic.de/cdg/" target="_blank">https://www.matej-zecevic.de/cdg/</a>
            <b>Causality Discussion Group (CDG)</b> - a community with regular Zoom meets, Slack, and a mailing list.
          </li>
          <li><a href="https://stats.stackexchange.com/" target="_blank">https://stats.stackexchange.com/</a>
            <b>Stats.StackExchange</b> - a forum to search for questions and answers about Causal Inference, or ask your
            own question!</li>
        </ul>
      </p>

      <h5 id="courses">Courses</h5>
      <p>
        <ul>
          <li><a href="https://www.bradyneal.com/causal-inference-course"
              target="_blank">https://www.bradyneal.com/causal-inference-course</a>
            <b>Brady Neal's Causal Inference course</b> - a great intro to the topic. See also <a
              href="https://www.youtube.com/c/BradyNealCausalInference" target="_blank">the video lectures
            </a> on YouTube. Highly recommended for beginners with some background in statistics.</li>
          https://arxiv.org/abs/2305.18793
          <li><a href="https://www.youtube.com/playlist?list=PLDcUM9US4XdPz-KxHM4XHt7uUVGWWVSus"
              target="_blank">https://www.youtube.com/playlist?list=PLDcUM9US4XdPz-KxHM4XHt7uUVGWWVSus</a>
            <b>Statistical Rethinking online lectures</b> by Richard McElreath</li>
          <li><a href="https://arxiv.org/abs/2305.18793" target="_blank">https://arxiv.org/abs/2305.18793</a> <b>A first
              course in Causal Inference</b> by Peng Ding. We weren't sure whether this is a book, but it takes you on a
            detailed, gentle journey and it intends to be a course, so here it is!
          </li>
          <li><a href="https://www.youtube.com/watch?v=Z0ZcsxI-HTs&list=PLxq_lXOUlvQAoWZEqhRqHNezS30lI49G-"
              target="_blank">https://www.youtube.com/watch?v=Z0ZcsxI-HTs&list=PLxq_lXOUlvQAoWZEqhRqHNezS30lI49G-</a>
            <b>Machine Learning and Economics: An Introduction
            </b> by Susan Athey, Stanford Graduate School of Business.
          </li>

          <li><a href="https://causalab.sph.harvard.edu/courses/"
              target="_blank">https://causalab.sph.harvard.edu/courses/</a> <b>CAUSALab's annual Causal Inference
              Courses</b> -
            for scientists, prerequisites apply.
          </li>
        </ul>
      </p>

      <h5 id="papers">Academic papers</h5>
      <p>
        <ul>
          <li><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7081045/"
              target="_blank">https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7081045/</a> Methods for Evaluating Causality
            in Observational Studies (2020)
          </li>
          <li><a href="https://www.nber.org/system/files/working_papers/w26104/w26104.pdf"
              target="_blank">https://www.nber.org/system/files/working_papers/w26104/w26104.pdf</a> Paper comparing
            the Potential Outcome and Causal Diagram approaches to Causality (2019).</li>
          <li><a href="https://arxiv.org/abs/1206.6831" target="_blank">https://arxiv.org/abs/1206.6831</a> "Pearl's
            Calculus of Intervention Is Complete." Key paper showing that the <a
              href="https://causalwizard.app/inference/article/do-calculus">do-calculus</a> is both sufficient and
            complete. (2012)</li>

          <li><a href="https://arxiv.org/abs/2011.04216" target="_blank">https://arxiv.org/abs/2011.04216</a> "DoWhy: An
            End-to-End Library for Causal Inference". A paper
            about DoWhy, the most important backend library used in Causal Wizard (2020).</li>
          <li><a href="https://arxiv.org/abs/2206.15475" target="_blank">https://arxiv.org/abs/2206.15475</a> Causal
            Machine Learning: A Survey and Open Problems (2022)
          </li>
          <li><a href="https://journals.sagepub.com/doi/full/10.1177/2515245917745629"
              target="_blank">https://journals.sagepub.com/doi/full/10.1177/2515245917745629</a> Thinking Clearly About
            Correlations and Causation: Graphical Causal Models for Observational Data (2018)
          </li>
          <li><a href="https://link.springer.com/article/10.1007/s11098-009-9450-2"
              target="_blank">https://link.springer.com/article/10.1007/s11098-009-9450-2</a> What are randomised
            controlled trials good for? (2010)
          </li>
        </ul>
      </p>

      <h5 id="conferences">Conferences</h5>
      <p>
        <ul>
          <li><a href="https://www.causalscience.org/" target="_blank">https://www.causalscience.org/</a>
            <b>Causal Data Science Meeting</b>: Conference series about Causal Inference and Causality in Data Science
          </li>
          <li><a href="https://www.continualcausality.org/" target="_blank">https://www.continualcausality.org/</a>
            <b>Continual Causality</b>: Workshop / program, next at AAAI 2024 about Causal Inference and Continual
            Machine
            Learning</li>
          <li><a href="https://www.cclear.cc/2023" target="_blank">https://www.cclear.cc/2023</a> <b>CLeaR (Causal
              Learning
              and Reasoning)</b> (latest 2023)</li>
        </ul>
      </p>

      <h5 id="websites">Websites</h5>
      <p>
        <ul>
          <li><a href="https://github.com/jvpoulos/causal-ml" target="_blank">https://github.com/jvpoulos/causal-ml</a>
            A curated list of academic resources about
            Causality.</li>
          <li><a href="http://shubhanshu.com/awesome-causality/"
              target="_blank">http://shubhanshu.com/awesome-causality/</a> Collection of Open-Source
            resources about Causality, and Causal Inference, including examples.</li>
          <li><a href="https://causalpython.io/" target="_blank">https://causalpython.io/</a>
            Mailing list and excellently presented introductory topics in causality.</li>
          <li><a href="https://towardsdatascience.com/causal-inference-what-why-and-how-d7336b0081ec"
              target="_blank">https://towardsdatascience.com/causal-inference-what-why-and-how-d7336b0081ec</a> A
            quick introduction to Causal Inference</li>
          <li><a href="https://www.andrewheiss.com/blog/2021/09/07/do-calculus-backdoors/"
              target="_blank">https://www.andrewheiss.com/blog/2021/09/07/do-calculus-backdoors/</a> Exploring the three
            rules of do-calculus in plain language</li>
        </ul>
      </p>

      <h5 id="software">Software tools</h5>
      <p>
        <ul>
          <li><a href="https://www.pywhy.org/" target="_blank">https://www.pywhy.org/</a> Collection of Open-Source
            software tools for Causal Machine Learning, including DoWhy (see below) and <a
              href="https://econml.azurewebsites.net" target="_blank">EconML</a>.</li>
          <li><a href="https://www.pywhy.org/dowhy/v0.9.1/" target="_blank">https://www.pywhy.org/dowhy/v0.9.1/</a>
            Documentation for <b>DoWhy</b>, part of PyWhy. DoWhy is used by Causal Wizard</li>
          <li><a href="http://www.dagitty.net/dags.html" target="_blank">http://www.dagitty.net/dags.html</a>
            <b>DAGitty</b>, a <a href="https://causalwizard.app/inference/article/dag">Directed Acyclic Graph (DAG)</a>
            editor which has some of the same features as Causal Wizard.</li>
          <li><a href="https://twitter.com/AleksanderMolak/status/1636666314776346625"
              target="_blank">https://twitter.com/AleksanderMolak/status/1636666314776346625</a>
            Twitter thread about the Python <b>Causality ecosystem</b>.</li>
          <li><a href="https://github.com/quantumblacklabs/causalnex"
              target="_blank">https://github.com/quantumblacklabs/causalnex</a> <b>CausalNex</b>, a Python library for
            modelling and inference. CausalNex learns a Bayesian Network model structure from either data, or your
            domain knowledge in the
            form of a <a href="https://causalwizard.app/inference/article/dag">Directed Acyclic Graph (DAG)</a>, or
            both. Documentation here: <a href="https://causalnex.readthedocs.io/en/latest/" target="_blank">
              https://causalnex.readthedocs.io/en/latest/</a> .
        </ul>
      </p>

    </div>
  </div>

</div>
</div>
